@model Rhythm.Models.SearchResultViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavigationPanel")
@Html.Partial("_HeadSection", Model.PostListViewModel.HeaderViewModel)

<!-- for renderBody -->
<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- for renderBody -->
            <!-- Content -->
            <div class="col-sm-8">
                @foreach (var post in Model.PostListViewModel.PostsViewModel)
                {
                    <!-- Post -->
                    <div class="blog-item">
                        <!-- Post Title -->
                        <h2 class="blog-item-title">@Html.ActionLink(@post.Title, "Post", "Posts", new { id = post.Id }, null)</h2>
                        <!-- Author, Categories, Comments -->
                        <div class="blog-item-data">
                            <a><i class="fa fa-clock-o"></i> @post.PostedOn </a>
                            <span class="separator">&nbsp;</span>
                            <a><i class="fa fa-user"></i> @post.NameSenderPost </a>
                            <span class="separator">&nbsp;</span>
                            <a><i class="fa fa-comments"></i> Comments @post.CountComments </a>
                        </div>
                        <!-- Text Intro -->
                        <div class="blog-item-body">
                            <p>
                                @Html.Raw(post.ShortDescription)
                            </p>
                        </div>
                        <!-- Read More Link -->
                        <div class="blog-item-foot">
                            @Html.ActionLink("Read More", "Post", "Posts", new { id = post.Id }, new { @class = "btn btn-mod btn-round  btn-small" })
                        </div>
                    </div>
                <!-- End Post -->
                }
                @if (Model.PostListViewModel.PagingView.TotalPages < 2)
                {

                }
                else
                { 
                <div class="pagination">
                    <a href=""><i class="fa fa-angle-left"></i></a>
                    @Html.PageLinks(Model.PostListViewModel.PagingView, x => Url.Action("List", new { Page = x }))
                    <a href=""><i class="fa fa-angle-right"></i></a>
                </div>
                }
            </div>
            <!-- End Content -->
            @Html.Partial("_Sidebar")
        </div>
    </div>
</section>