@model Rhythm.Models.PostViewModel

<!-- Comments -->
<div class="mb-80 mb-xs-40">
    @if (Model.Post.CountComments == 0)
    {
        <h5 class="blog-page-title font-alt">No Comments<small class="number">, would you like to leave a comment?</small></h5>
    }
    else
    {
        <h4 class="blog-page-title font-alt">Comments<small class="number">(@Model.Post.CountComments)</small></h4>
        <ul class="media-list text comment-list clearlist">
            @Html.Action("AllComments", "Comments")
        </ul>
    }
    <!-- End Comments -->
    <br />
    <h4 class="blog-page-title font-alt" id="add">Add Comment</h4>

    <!-- Form -->
    @using (Html.BeginForm("Post", "Posts", FormMethod.Post, new { @class = "form contact-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "form-tip pt-20", @style = "color:red;" })
        <div class="validation-summary-error" data-valmsg-summary="true">
            <div class="row mb-20 mb-md-10">
                <div class="col-md-6 mb-md-10">
                    <!-- Name -->
                    @Html.TextBoxFor(model => model.Comment.NameUserSender, new { @class = "input-md form-control required", @placeholder = "Name" })
                </div>
                <div class="col-md-6">
                    <!-- Email -->
                    @Html.TextBoxFor(model => model.Comment.EmailUserSender, new { @class = "input-md form-control required", @placeholder = "Email" })
                </div>
            </div>
            <!-- Comment -->
            <div class="mb-30 mb-md-10">
                @Html.TextAreaFor(model => model.Comment.Comment1, new { @class = "input-md form-control required", rows = "6", @placeholder = "Comment" })
            </div>
            <div class="mb-30 mb-md-10">
                <label class="hs-line-4 font-alt black">Are you like Dogs?</label>
                @Html.CheckBoxFor(model => model.Comment.DescriptionComment)
            </div>
            @Html.HiddenFor(m => m.Post.ID)
            <!-- Send Button -->
            <button type="submit" value="Submit" class="btn btn-mod btn-medium btn-round btn-round">
                Send comment
            </button>
        </div>
    }
</div>

<!-- End Contact Section -->
@section scripts {
    <script>
        jQuery.validator.addMethod("isvalidbool", function (value, element, param) {
            return element.checked;
        });
        jQuery.validator.unobtrusive.adapters.addBool("isvalidbood");
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
}