@model Rhythm.Models.HeaderViewModel

<!-- Head Section -->
<section class="small-section bg-gray-lighter">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">@Model.Title</h1>
                <div class="hs-line-4 font-alt black">
                    @Model.Text
                </div>
            </div>
            @if (Model.FirstTagWord != "" && Model.SecondTagWord != "" && Model.ThirdTagWord != "")
            {
                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs font-alt black align-right">
                        <a>@Model.FirstTagWord</a>&nbsp;/&nbsp;<a>@Model.SecondTagWord</a>&nbsp;/&nbsp;<a>@Model.ThirdTagWord</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Head Section -->