@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="Vladimir Makarevich">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Content/img/favicon.png">
    <link rel="apple-touch-icon" href="~/Content/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/img/apple-touch-icon-114x114.png">

    @Styles.Render("~/Content/css/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="appear-animate">

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <!-- End Page Loader -->
    <!-- Page Wrap -->
    <div class="page" id="top">

        <!-- Navigation panel -->
        <nav class="main-nav js-stick">
            <div class="full-wrapper relative clearfix">
                <!-- Logo ( * your text or image into link tag *) -->
                <div class="nav-logo-wrap local-scroll">
                    <a href="mp-index.html" class="logo">
                        <img src="~/Content/img/logo-dark.png" alt="" />
                    </a>
                </div>
                <div class="mobile-nav">
                    <i class="fa fa-bars"></i>
                </div>

                <!-- Main Menu -->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist">
                        <li>@Html.ActionLink("Home", "Home", new { @class = "mn-has-sub" })</li>
                        <li>@Html.ActionLink("Post", "Posts", new { @class = "mn-has-sub" })</li>
                        <li>@Html.ActionLink("Article", "Articles", new { @class = "mn-has-sub" })</li>
                        <li>@Html.ActionLink("Library", "Lybrarys", new { @class = "mn-has-sub" })</li>
                        <li>@Html.ActionLink("Portfolio", "Portfolio", new { @class = "mn-has-sub" })</li>
                        <li>@Html.ActionLink("About me", "AboutMe", new { @class = "mn-has-sub" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", new { @class = "mn-has-sub" })</li>
                        <li><a>&nbsp;</a></li>
                        <li>
                            <a href="#" class="mn-has-sub">Eng <i class="fa fa-angle-down"></i></a>

                            <ul class="mn-sub">

                                <li><a href="">English</a></li>
                                <li><a href="">Russian</a></li>
                                <li><a href="">Belarusian</a></li>

                            </ul>

                        </li>
                    </ul>
                    @*<ul class="clearlist">

                        <!-- Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub">Home <i class="fa fa-angle-down"></i></a>
                        </li>
                        <!-- End Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub">Post <i class="fa fa-angle-down"></i></a>
                        </li>
                        <!-- End Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub">Article <i class="fa fa-angle-down"></i></a>
                        </li>
                        <!-- End Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub">Library <i class="fa fa-angle-down"></i></a>
                        </li>
                        <!-- End Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub">Portfolio <i class="fa fa-angle-down"></i></a>
                        </li>
                        <!-- End Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub">About me <i class="fa fa-angle-down"></i></a>
                        </li>
                        <!-- End Item With Sub -->
                        <li>
                            <a href="#" class="mn-has-sub">Contact <i class="fa fa-angle-down"></i></a>
                        </li>
                        <!-- End Item With Sub -->
                        <!-- Divider -->
                        <li><a>&nbsp;</a></li>
                        <!-- End Divider -->
                        <!-- Languages -->
                        <li>
                            <a href="#" class="mn-has-sub">Eng <i class="fa fa-angle-down"></i></a>

                            <ul class="mn-sub">

                                <li><a href="">English</a></li>
                                <li><a href="">France</a></li>
                                <li><a href="">Russian</a></li>
                                <li><a href="">Belarusian</a></li>

                            </ul>

                        </li>
                        <!-- End Languages -->

                    </ul>*@
                </div>
                <!-- End Main Menu -->


            </div>
        </nav>
        <!-- End Navigation panel -->
        <!--TODO: head section-->
        <!-- Section -->

        @RenderBody()

        <!-- End Section -->
        <!-- Foter -->
        <footer class="page-section bg-gray-lighter footer pb-60">
            <div class="container">

                <!-- Footer Logo -->
                <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                    <a href="#top"><img src="~/Content/img/logo-footer.png" width="78" height="36" alt="" /></a>
                </div>
                <!-- End Footer Logo -->
                <!-- TODO: Social Links -->
                <div class="footer-social-links mb-110 mb-xs-60">
                    <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                    <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>
                <!-- End Social Links -->
                <!-- Footer Text -->
                <div class="footer-text">

                    <!-- Copyright -->
                    <div class="footer-copy font-alt">
                        <a href="http://google.com" target="_blank">&copy; @DateTime.Now.Year</a>.
                    </div>
                    <!-- End Copyright -->

                    <div class="footer-made">
                        Vladimir Makarevich - ASP.NET MVC Developer
                    </div>

                </div>
                <!-- End Footer Text -->

            </div>


            <!-- Top Link -->
            <div class="local-scroll">
                <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
            </div>
            <!-- End Top Link -->

        </footer>
        <!-- End Foter -->


    </div>
    <!-- End Page Wrap -->
    @Scripts.Render("~/bundles/rhythm/jquery")
    @Scripts.Render("~/bundles/rhythm/bootstrap")
    @Scripts.Render("~/bundles/rhythm/all")
    @Scripts.Render("~/bundles/rhythm/contact")
    @Scripts.Render("~/bundles/rhythm/imagesloaded")
    @Scripts.Render("~/bundles/rhythm/isotope")
    @Scripts.Render("~/bundles/rhythm/masonry")
    @Scripts.Render("~/bundles/rhythm/owl")
    @Scripts.Render("~/bundles/rhythm/moothScroll")
    @Scripts.Render("~/bundles/rhythm/wow")
    <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
</body>
</html>
