        <!-- Navigation panel -->
<nav class="main-nav js-stick">
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <img src="~/Content/img/logo-dark.png" alt="" />
            </a>
        </div>
        <div class="mobile-nav">
            <img src="" alt="" />
            <i class="fa fa-bars"></i>
        </div>

        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Post", "Index", "Posts")</li>
                <li>@Html.ActionLink("Rss Feeds", "Index", "Rss")</li>
                @*<li>@Html.ActionLink("Library", "Index", "Library")</li>*@
                <li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                <li>@Html.ActionLink("About me", "Index", "AboutMe")</li>
                <li>@Html.ActionLink("Contact", "Index", "Contacts")</li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li><a>&nbsp;</a></li>
                <li>
                </li>
            </ul>
        </div>
        <!-- End Main Menu -->
    </div>
</nav>
<!-- End Navigation panel -->
