@model Rhythm.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
    ViewBag.Text = "DogBlog - Vladimir Makarevich - backend Developer ASP.NET MVC";
    ViewBag.WordFirst = "C#";
    ViewBag.WordSecond = "ASP.NET MVC";
    ViewBag.WordThird = "WEB";
    ViewBag.Message = "Contact with me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavigationPanel")
@Html.Partial("_HeadSection", Model.HeaderViewModel)

<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container relative">
        <h1 class="section-title font-alt mb-70 mb-sm-40">
            @if (ViewBag.ThxMessage == null)
            {
                @ViewBag.Message
            }
            else
            {
                @ViewBag.ThxMessage
            }
            <br />
            <a style="color:red">@ViewBag.MessageError</a>
        </h1>
        <div class="row mb-60 mb-xs-40">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <!-- Phone -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Call Me
                            </div>
                            <div class="ci-text">
                                +375 29 102 44 85
                            </div>
                        </div>
                    </div>
                    <!-- End Phone -->
                    <!-- Address -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-skype"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Skype
                            </div>
                            <div class="ci-text">
                                vova.zhigalov
                            </div>
                        </div>
                    </div>
                    <!-- End Address -->
                    <!-- Email -->
                    <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                        <div class="contact-item">
                            <div class="ci-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="ci-title font-alt">
                                Email
                            </div>
                            <div class="ci-text">
                                <a href="mailto:makarevich.dev@outlook.com">makarevich.dev@outlook.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Email -->
                </div>
            </div>
        </div>

        <!-- Contact Form -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                @using (Html.BeginForm("Index", "Contacts", FormMethod.Post, new { @class = "form contact-form", @id = "contact_form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "form-tip pt-20", @style = "color:red;" })
                    <div class="validation-summary-error" data-valmsg-summary="true">
                        <div class="clearfix">
                            <div class="cf-left-col">
                                <!-- Name -->
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "input-md round form-control", @placeholder = "Name", @pattern = ".{3,100}" })
                                </div>
                                <!-- Email -->
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "input-md round form-control", @placeholder = "Email", @pattern = ".{5,100}" })
                                </div>
                            </div>
                            <div class="cf-right-col">
                                <!-- Message -->
                                <div class="form-group">
                                    @Html.TextAreaFor(m => m.Message, new { @class = "input-md round form-control", @style = "height: 84px;", @placeholder = "Message" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="cf-left-col">
                                <!-- Inform Tip -->
                                <div class="form-tip pt-20">
                                    <i class="fa fa-info-circle"></i> All the fields are required
                                </div>
                            </div>
                            <div class="cf-right-col">
                                <div class="align-right pt-10">
                                    <label class="hs-line-4 font-alt black">Are you like Dogs?</label>
                                    @Html.CheckBoxFor(model => model.AreLikeDogs)
                                </div>
                                <!-- Send Button -->
                                <div class="align-right pt-10">
                                    <button type="submit" class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Submit Message</button>
                                </div>
                            </div>
                        </div>
                        <div id="result"></div>
                    </div>
                }

            </div>
        </div>
        <!-- End Contact Form -->
    </div>
</section>


<!-- End Contact Section -->
@section scripts {
    <script>
        jQuery.validator.addMethod("isvalidbool", function (value, element, param) {
            return element.checked;
        });
        jQuery.validator.unobtrusive.adapters.addBool("isvalidbood");
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/rhythm/contact-form.js"></script>
}