@model Rhythm.Models.PostListViewModel

@{
    ViewBag.Title = "DogCoding blog by Vladimir Makarevich";
    ViewBag.Text = "DogBlog - Vladimir Makarevich - backend Developer ASP.NET MVC";
    ViewBag.WordFirst = "C#";
    ViewBag.WordSecond = "ASP.NET MVC";
    ViewBag.WordThird = "WEB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_NavigationPanel")
@Html.Partial("_HeadSection")
<!-- for renderBody -->
<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- for renderBody -->
            <!-- Content -->
            <div class="col-sm-8">
                @foreach (var p in Model.Posts)
                {
                    <!-- Post -->
                    <div class="blog-item">
                        <!-- Post Title -->
                        <h2 class="blog-item-title">@Html.ActionLink(@p.Title, "Post", "Posts", new { id = p.ID }, null)</h2>
                        <!-- Author, Categories, Comments -->
                        <div class="blog-item-data">
                            <a><i class="fa fa-clock-o"></i> @p.PostedOn </a>
                            <span class="separator">&nbsp;</span>
                            <a><i class="fa fa-user"></i> @p.NameSenderPost </a>
                            <span class="separator">&nbsp;</span>
                            <a><i class="fa fa-code"></i> @p.Category1.Name </a>
                            <span class="separator">&nbsp;</span>
                            <a><i class="fa fa-comments"></i> Comments @p.CountComments </a>
                        </div> 
                        @if (p.ImageData != null && p.ImageData.Any())
                        {
                            <img width="500" height="333" src="@Url.Action("GetImage", "Posts", new { p.ID })" />
                        }
                        <br /><br />
                        <!-- Text Intro -->
                        <div class="blog-item-body">
                            <p>
                                @Html.Raw(p.ShortDescription)
                            </p>
                        </div>
                        <!-- Read More Link -->
                        <div class="blog-item-foot">
                            @Html.ActionLink("Read More", "Post", "Posts", new { id = p.ID }, new { @class = "btn btn-mod btn-round  btn-small" })
                        </div>
                    </div>
                <!-- End Post -->
                }
                <div class="pagination">
                    @Html.PageLinksLeft(Model.PagingView, x => Url.Action("Index", new { Page = x }))
                    @Html.PageLinks(Model.PagingView, x => Url.Action("Index", new { Page = x }))
                    @Html.PageLinksRight(Model.PagingView, x => Url.Action("Index", new { Page = x }))
                </div>
            </div>
            <!-- End Content -->
            @Html.Partial("_Sidebar")
        </div>
    </div>
</section>