@model Rhythm.Models.RssFeeds.RssesViewModel

@{
    ViewBag.Title = "Rss Feeds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavigationPanel")
@Html.Partial("_HeadSection", Model.HeaderViewModel)

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- Content -->
            <div class="col-sm-8">

                @foreach (var rss in Model.RssEntity)
                {
                    <div class="text">
                        <h1>
                            <small>RSS</small> @rss.Name
                        </h1>
                        @rss.Description
                    </div>
                    <br />
                    <a href="@Url.Action("GetRss","Rss", new { id = rss.Id })" class="btn btn-mod btn-border btn-small btn-round"> Read More </a>
                    <!-- End Col -->

                    <hr class="mb-40" />
                }
                <div class="pagination">
                    @Html.PageLinksLeft(Model.PagingView, x => Url.Action("Index", new { Page = x }))
                    @Html.PageLinks(Model.PagingView, x => Url.Action("Index", new { Page = x }))
                    @Html.PageLinksRight(Model.PagingView, x => Url.Action("Index", new { Page = x }))
                </div>
                <!-- End Col -->
            </div>
            <!-- End Col -->
            @Html.Partial("_Sidebar")
        </div>
    </div>
</section>
<!-- End Section -->
