
@{
    ViewBag.Title = "RSS feeds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_NavigationPanel")
@Html.Partial("_HeadSection")
<!-- Section -->
<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- Content -->
            <div class="col-sm-8">

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Dev.by</h2> 
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("Devby","RSS")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->

                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Events.Dev.by</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("EventsDevby","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> DZone</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("DZoneweb","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> DZone Agile</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("EventsDevby","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Codeproject</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("Codeproject","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Codeproject ASP.NET</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("CodeprojectAspnet","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Codeproject .NET</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("CodeprojectDotnet","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Codeproject C# </h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("CodeprojectCsharp","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Habrahabr</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("Habrahabr","Rss") " class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Hanselman Blog</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("Hanselman","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> ScottGu Hanselman Blog</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("ScottGu","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> StephenWalther Blog</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("StephenWalther","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> PrideParrotr Blog</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("PrideParrot","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
                <hr class="mb-40" />

                <!-- Col -->
                <div class="text">
                    <h2 class="mt-0 "><small>RSS</small> Forum asp.net mvc</h2>
                    @*Lorem ipsum dolor sit amet, tooltip top consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.*@
                </div>
                <br />
                <div class="mb-10">
                    <a href="@Url.Action("AspDotNetQuestion","Rss")" class="btn btn-mod btn-border btn-medium btn-round">Read More</a>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Col -->
            @Html.Partial("_Sidebar")
        </div>
    </div>
</section>
<!-- End Section -->
