@model Rhythm.Models.RssListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int left = 0;
    int right = 0;
    if (Model.PagingView.CurrentPage == 1)
    {
        left = Model.PagingView.CurrentPage - 1;
    }
    else
    {
        left = Model.PagingView.CurrentPage;
    };
    if (Model.PagingView.CurrentPage == 1)
    {
        right = Model.PagingView.CurrentPage + 1;
    }
    else
    {
        right = Model.PagingView.CurrentPage;
    };
}

@Html.Partial("_HeadSection")

<!-- for renderBody -->
<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- for renderBody -->
            <!-- Content -->
            <div class="col-sm-8">
                @foreach (var i in Model.RssReaders)
                {
                    <!-- Post -->
                    <div class="blog-item">
                        <!-- Post Title -->
                        <h2 class="blog-item-title">@System.Web.HttpUtility.HtmlDecode(i.Title)</h2>
                        <!-- Author, Categories, Comments -->
                        <div class="blog-item-data">
                            <a><i class="fa fa-clock-o"></i>@i.PubDate</a>
                            <span class="separator">&nbsp;</span>
                            <a><i class="fa fa-rss"></i>@ViewBag.Site</a>
                            <span class="separator">&nbsp;</span>
                            <a><i class="fa fa-gears"></i>@ViewBag.News</a>
                            <span class="separator">&nbsp;</span>
                            <a><i class="fa fa-paw"></i>IT</a>
                        </div>
                        <!-- Text Intro -->
                        <div class="blog-item-body">
                            <p>
                                @System.Web.HttpUtility.HtmlDecode(i.Description)

                            </p>
                        </div>
                        <!-- Read More Link -->
                        <div class="blog-item-foot">
                            <a href="@i.Link" target="_blank" class="btn btn-mod btn-round  btn-small">Read More</a>
                        </div>
                    </div>
                <!-- End Post -->
                }
                @Html.HiddenFor(m => m.Source)
                <div class="pagination">
                    @Html.PageLinksLeft(Model.PagingView, x => Url.Action(Model.Source, new { src = Model.Source, Page = x }))
                    @Html.PageLinks(Model.PagingView, x => Url.Action(Model.Source, new { src = Model.Source, Page = x }))
                    @Html.PageLinksRight(Model.PagingView, x => Url.Action(Model.Source, new { src = Model.Source, Page = x }))
                </div>
            </div>
            <!-- End Content -->
            @Html.Partial("_Sidebar")
        </div>
    </div>
</section>

