@model Rhythm.Areas.ChiefAdmin.Models.PortfolioAdminViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}

<div class="container relative">
    <h2 class="align-center font-alt uppercase">Details Porfolio</h2>
    <div class="blog-item-body container">
        <h2>Details</h2>

        <p>
            <div class="form-actions no-color">
                <a href="@Url.Action("Edit", "Portfolios", new { id = Model.PortfolioId })" class="submit_btn btn btn-mod btn-small btn-round" id="submit_btn"> Edit </a> |
                <a href="@Url.Action("Index", "Portfolios")" class="submit_btn btn btn-mod btn-small btn-round" id="submit_btn"> Back to List </a>
            </div>
        </p>

        <div>
            <h4>Portfolio</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NamePortfolio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NamePortfolio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Objective)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Objective)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Summary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Summary)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Skills)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skills)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EnglishProficiency)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EnglishProficiency)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.WorkExp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WorkExp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Education)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Education)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ApplicationSystems)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationSystems)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdditionalInfo)
                </dd>

            </dl>
        </div>
    </div>
</div>