@model List<Rhythm.Areas.ChiefAdmin.Models.PortfolioAdminViewModel>

@{
    <link href="~/Content/table.css" rel="stylesheet" />
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}

<h2 class="align-center font-alt uppercase">Portfolios</h2>

<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- Content -->
            <div class="col-lg-12">
                <p>
                    <div class="blog-item-foot">
                        <a href="@Url.Action("Create", "Portfolios")" class="btn btn-mod btn-round  btn-small"> Create New </a>
                    </div>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Objective
                        </th>
                        <th>
                            Summary
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NamePortfolio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Objective)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Summary)
                            </td>
                            <td>
                                <div class="blog-item-foot">
                                    <a href="@Url.Action("Edit", "Portfolios", new { id = item.Id })" class="btn btn-mod btn-round  btn-small"> Edit </a>
                                </div>
                            </td>
                            <td>
                                <div class="blog-item-foot">
                                    <a href="@Url.Action("Details", "Portfolios", new { id = item.Id })" class="btn btn-mod btn-round  btn-small"> Details </a>
                                </div>
                            </td>
                            <td>
                                <div class="blog-item-foot">
                                    <a href="@Url.Action("Delete", "Portfolios", new { id = item.Id })" class="btn btn-mod btn-round  btn-small"> Delete </a>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>