@model List<Rhythm.Areas.ChiefAdmin.Models.PortfolioAdminViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}

<div class="container relative">
    <h2 class="align-center font-alt uppercase">Portfolios</h2>
    <div class="blog-item-body container">
        <p>
            <div class="blog-item-foot">
                <a href="@Url.Action("Create", "Portfolios")" class="btn btn-mod btn-round  btn-small"> Create New </a>
            </div>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NamePortfolio)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.Skills)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkExp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MyProjects)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Education)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </th>*@
                <th></th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamePortfolio)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Skills)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkExp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MyProjects)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Education)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdditionalInfo)
                    </td>*@
                    <td>
                        <div class="blog-item-foot">
                            <a href="@Url.Action("Edit", "Portfolios", new { id = item.PortfolioId })" class="btn btn-mod btn-round  btn-small"> Edit </a>
                        </div>
                    </td>
                    <td>
                        <div class="blog-item-foot">
                            <a href="@Url.Action("Details", "Portfolios", new { id = item.PortfolioId })" class="btn btn-mod btn-round  btn-small"> Details </a>
                        </div>
                    </td>
                    <td>
                        <div class="blog-item-foot">
                            <a href="@Url.Action("Delete", "Portfolios", new { id = item.PortfolioId })" class="btn btn-mod btn-round  btn-small"> Delete </a>
                        </div>
                    </td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.PortfolioID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PortfolioID })
                        @Html.ActionLink("Delete", "Delete", new { id = item.PortfolioID })*@
                </tr>
            }

        </table>
    </div>
</div>