@model Rhythm.Models.CommonUserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavigationPanel")
@Html.Partial("_HeadSection", Model.HeaderViewModel)

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        <div class="row section-text">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="font-alt">@Model.UserViewModel.FirstName @Model.UserViewModel.LastName - @Model.PortfolioViewModel.Objective</h2>

                <hr class="mb-30" />

                <h4 class="midtext">
                    <strong>@Html.DisplayNameFor(m => m.UserViewModel.Birth):</strong> @Html.DisplayFor(m => m.UserViewModel.Birth) <br />
                    <strong>@Html.DisplayNameFor(m => m.UserViewModel.Email):</strong> @Html.DisplayFor(m => m.UserViewModel.Email) <br />
                    <strong>@Html.DisplayNameFor(m => m.UserViewModel.Mobile):</strong> @Html.DisplayFor(m => m.UserViewModel.Mobile) <br />
                    <strong>@Html.DisplayNameFor(m => m.UserViewModel.Skype):</strong> @Html.DisplayFor(m => m.UserViewModel.Skype) <br />
                    <strong>@Html.DisplayNameFor(m => m.UserViewModel.Linkedin):</strong> @Html.DisplayFor(m => m.UserViewModel.Linkedin) <br />
                    <strong>@Html.DisplayNameFor(m => m.UserViewModel.Github):</strong> @Html.DisplayFor(m => m.UserViewModel.Github) <br />
                </h4>

                <hr class="mb-30" />

                <h3 class="font-alt">@Html.DisplayNameFor(m => m.PortfolioViewModel.Summary)</h3>
                <h4 class="thintext_dark">@Html.Raw(Model.PortfolioViewModel.Summary)</h4>

                <hr class="mb-30" />

                <h3 class="font-alt">@Html.DisplayNameFor(m => m.PortfolioViewModel.Skills)</h3>
                <h4 class="thintext_dark">@Html.Raw(Model.PortfolioViewModel.Skills)</h4>

                <hr class="mb-30" />

                <h3 class="font-alt">@Html.DisplayNameFor(m => m.PortfolioViewModel.Education)</h3>
                <h4 class="thintext_dark">@Html.Raw(Model.PortfolioViewModel.Education)</h4>

                <hr class="mb-30" />

                <h3 class="font-alt">@Html.DisplayNameFor(m => m.PortfolioViewModel.WorkExp)</h3>
                <h4 class="thintext_dark">@Html.Raw(Model.PortfolioViewModel.WorkExp)</h4>

                <hr class="mb-30" />

                <h3 class="font-alt">@Html.DisplayNameFor(m => m.PortfolioViewModel.AdditionalInfo)</h3>
                <h4 class="thintext_dark">@Html.Raw(Model.PortfolioViewModel.AdditionalInfo)</h4>

                <hr class="mb-30" />

                <h3 class="font-alt">
                    My Projects - <a href="@Url.Action("Index", "Portfolios")" class="btn btn-mod btn-round  btn-medium"> portfolio </a>
                </h3>
            </div>
        </div>

    </div>
</section>