@model Rhythm.Areas.ChiefAdmin.Models.ChiefUserAdminViewModel

@{
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}

<h2 class="align-center font-alt uppercase">Create User</h2>
<div class="container relative">
    <div>
        <a href="@Url.Action("Index", "Users")" class="submit_btn btn btn-mod btn-small btn-round" id="submit_btn"> Back to List </a>
    </div>
    <br />
    @using (Html.BeginForm("Create", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form", @class = "form" }))
    {
        <div class="form-horizontal">

            <h4>Chief User</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.PortfolioId, "PortfolioId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PortfolioId", null, htmlAttributes: new { @class = "input-md form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Birth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Birth, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HomeAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HomeAddress, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Skype, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Skype, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Github, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Github, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Linkedin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Linkedin, new { htmlAttributes = new { @class = "input-md form-control" } })
                </div>
            </div>

            <hr class="mb-30" />

            @Html.HiddenFor(m => m.ImagePath)
            @Html.Label("Load Photo: ")
            <div class="mb-20 mb-md-10">
                @Html.TextBoxFor(m => m.FileBase, new { @type = "file", id = "FileBase", @value = "Save" })
                <p class="help-block">
                    Choose photo
                </p>
            </div>

            <div class="clearfix">
                <div class="cf-left-col">
                    <!-- Inform Tip -->
                    <div class="form-tip pt-20">
                        <i class="fa fa-info-circle"></i> All the fields are required
                    </div>
                </div>
                <div class="cf-right-col">
                    <!-- Send Button -->
                    <div class="align-right pt-10">
                        <button type="submit" class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Create User</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>