@model Rhythm.Areas.ChiefAdmin.Models.ChiefUserAdminViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}

<div class="container relative">
    <h2 class="align-center font-alt uppercase">Details User @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>
    <div class="blog-item-body container">
        <h2>Details</h2>
        <p>
            <div class="form-actions no-color">
                <a href="@Url.Action("Edit", "Users", new { id = Model.Id })" class="submit_btn btn btn-mod btn-small btn-round" id="submit_btn"> Edit </a> |
                <a href="@Url.Action("Index", "Users")" class="submit_btn btn btn-mod btn-small btn-round" id="submit_btn"> Back to List </a>
            </div>
        </p>
        <div>
            <h4>User</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MiddleName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MiddleName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Birth)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Birth)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HomeAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HomeAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Skype)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Skype)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mobile)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mobile)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Github)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Github)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Linkedin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Linkedin)
                </dd>

            </dl>
        </div>
    </div>
</div>