@model IEnumerable<Rhythm.Areas.ChiefAdmin.Models.ChiefUserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Github)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Linkedin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Portfolio.Summary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Github)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Linkedin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Portfolio.Summary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChiefUserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChiefUserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChiefUserID })
        </td>
    </tr>
}

</table>
