@model List<Rhythm.Areas.ChiefAdmin.Models.ChiefUserAdminViewModel>

@{
    <link href="~/Content/table.css" rel="stylesheet" />
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}

<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- Content -->
            <div class="col-lg-12">
                <h2 class="align-center font-alt uppercase">Users</h2>
                <p>
                    <div class="blog-item-foot">
                        <a href="@Url.Action("Create", "Users")" class="btn btn-mod btn-round  btn-small"> Create New </a>
                    </div>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Mobile
                        </th>
                        <th>
                            Home Address
                        </th>

                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HomeAddress)
                            </td>
                            <td>
                                <div class="blog-item-foot">
                                    <a href="@Url.Action("Edit", "Users", new { id = item.Id })" class="btn btn-mod btn-round  btn-small"> Edit </a>
                                </div>
                            </td>
                            <td>
                                <div class="blog-item-foot">
                                    <a href="@Url.Action("Details", "Users", new { id = item.Id })" class="btn btn-mod btn-round  btn-small"> Details </a>
                                </div>
                            </td>
                            <td>
                                <div class="blog-item-foot">
                                    <a href="@Url.Action("Delete", "Users", new { id = item.Id })" class="btn btn-mod btn-round  btn-small"> Delete </a>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>