@model Rhythm.Domain.Model.Post

@{
    Layout = "~/Views/Shared/_Post.cshtml";
}


@section Title{
    @Html.DisplayFor(model => model.Title)
}

@section ShortDescription{
    @Html.DisplayFor(model => model.ShortDescription)
}

@section Description{
    @Html.DisplayFor(model => model.DescriptionPost)
}



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
