@model Rhythm.Models.PostViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_NavigationPanel")
<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- Content -->
            <div class="col-sm-8">
                <!-- Post -->
                <div class="blog-item mb-80 mb-xs-40">
                    <!-- Text -->
                    <div class="blog-item-body">
                        <h1 class="mt-0">@Model.Post.Title</h1>
                        <div class="lead">
                            <hr class="mb-40" />
                            <div>
                                @if (Model.Post.ImageData != null && Model.Post.ImageData.Any())
                                {
                                    <img width="500" height="333" src="@Url.Action("GetImage", "Posts", new { id = Model.Post.ID })" />
                                }
                            </div>
                            <hr class="mb-40" />
                            @Html.Raw(Model.Post.ShortDescription)
                        </div>
                        <hr class="mb-40" />
                        @Html.Raw(Model.Post.DescriptionPost)
                    </div>
                    <!-- End Text -->
                </div>
                <!-- End Post -->
                @Html.Partial("_CommentsList")
                <!-- Prev/Next Post -->
                <div class="clearfix mt-40">
                    @if (Model.Post.ID == 1)
                    {
                        <a href="#"></a>
                    }
                    else
                    {
                        @Html.ActionLink("Prev post", "Post", new { id = Model.Post.ID - 1, flag = false }, new { @class = "blog-item-more left" })
                    }

                    @if (Model.Post.ID >= ViewBag.Count)
                    {
                        <a href="#"></a>
                    }
                    else
                    {
                        @Html.ActionLink("Next post", "Post", new { id = Model.Post.ID + 1, flag = true }, new { @class = "blog-item-more right" })
                    }
                </div>
                <!-- End Prev/Next Post -->
            </div>
            <!-- End Content -->
            @Html.Partial("_Sidebar")
        </div>
    </div>
</section>
<!-- End Section -->
