@model Rhythm.Areas.ChiefAdmin.Models.RssAdminViewModel

@{
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}

<section class="page-section">
    <div class="container relative">
        <div class="row">
            <!-- Content -->
            <div class="col-lg-8">
                <h2 class="align-center font-alt uppercase">Details Rss @Html.DisplayFor(model => model.Name)</h2>
                <h2>Details</h2>

                <p>
                    <div class="form-actions no-color">
                        <a href="@Url.Action("Edit", "Rsses", new { id = Model.Id })" class="submit_btn btn btn-mod btn-small btn-round" id="submit_btn"> Edit </a> |
                        <a href="@Url.Action("Index", "Rsses")" class="submit_btn btn btn-mod btn-small btn-round" id="submit_btn"> Back to List </a>
                    </div>
                </p>

                <div>
                    <h4>Rss</h4>
                    <hr />
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Theme)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Theme)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Url)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Url)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Type)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Type)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>