@model List<Rhythm.Domain.Model.Post>

<h5 class="widget-title font-alt">Last posts</h5>
<div class="widget-body">
    <ul class="clearlist widget-posts">
        @foreach (var p in Model)
        {
            <li class="clearfix">
                <div class="widget-posts-descr">
                    <a href="@Url.Action("Post","Posts", new { id = p.ID})" title="@p.Title">@p.Title</a>
                    Posted by @p.NameSenderPost in @p.PostedOn
                </div>
                <div class="fa fa-examples">
                    <i class="fa fa-fw">&#xf0f6</i>
                    <i class="fa fa-fw">&#xf0f6</i>
                    <i class="fa fa-fw">&#xf0f6</i>
                </div>
            </li>
        }
    </ul>
</div>