@model List<Rhythm.Models.RecentViewModel.CommentRecentViewModel>

<h5 class="widget-title font-alt">Comments</h5>
<div class="widget-body">
    <ul class="clearlist widget-comments">
        @foreach (var comment in Model)
        {
            <li>
                @comment.NameUserSender on <a href="@Url.Action("Post","Posts", new { id = comment.Id } )" title="@comment.CommentContent">@comment.CommentContent (@comment.PostAddedDate)</a>
                <div class="fa fa-examples">
                    <i class="fa fa-fw">&#xf0e5</i>
                    <i class="fa fa-fw">&#xf0e5</i>
                    <i class="fa fa-fw">&#xf0e5</i>
                </div>
            </li>

        }
    </ul>
</div>