@model Rhythm.Areas.ChiefAdmin.Models.PostViewModel

@{
    Layout = "~/Areas/ChiefAdmin/Views/Shared/_Layout.cshtml";
}
<!-- Section -->
<section class="page-section">
    <div class="container relative">

        <!-- Form -->
        @using (Html.BeginForm("EditPost", "EditContent", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form", @class = "form" }))
        {

            @Html.Label("Name: ", new { @for = "exampleInputFile" })
            <div class="mb-20 mb-md-10">
                <!-- Name -->
                @Html.TextBoxFor(m => m.Name, new { @name = "Name", @id = "Name", @class = "input-md form-control", @placeholder = "Name" })
            </div>

            @Html.Label("Title: ", new { @for = "exampleInputFile" })
            <div class="mb-20 mb-md-10">
                <!-- Title -->
                @Html.TextBoxFor(m => m.Title, new { @name = "Title", @id = "Title", @class = "input-md form-control", @placeholder = "Title" })
            </div>

            @Html.Label("Short Description: ", new { @for = "exampleInputFile" })
            <div class="mb-20 mb-md-10">
                @Html.TextAreaFor(m => m.ShortDescription, new { @name = "ShortDescription", @id = "ShortDescription", @class = "input-md round form-control", @style = "height: 84px;", @placeholder = "Short Description" })
            </div>

            @Html.Label("Post: ", new { @for = "exampleInputFile" })
            <div class="mb-20 mb-md-10">
                @Html.TextAreaFor(m => m.PostDescription, new { @name = "PostDescription", @id = "PostDescription", @class = "input-md round form-control", @style = "height: 84px;", @placeholder = "Post" })
            </div>

            @Html.Label("Url Slug: ", new { @for = "exampleInputFile" })
            <div class="mb-20 mb-md-10">
                <!-- URL -->
                @Html.TextBoxFor(m => m.UrlSlug, new { @name = "UrlSlug", @id = "UrlSlug", @class = "input-md form-control", @placeholder = "Url Slug" })
            </div>
            @Html.Label("Published?: ", new { @for = "exampleInputFile" })
            <div class="mb-20 mb-md-10">
                <label class="checkbox-inline">
                    @Html.CheckBoxFor(m => m.Published)
                </label>
            </div>

            @Html.Label("Choose category: ", new { @for = "exampleInputFile" })
            <div class="mb-20 mb-md-10">
                @Html.DropDownList("Category")
                @*<div class="mb-20 mb-md-10">
                    @*<select class="input-md form-control" name="Category" id="Category">
                        @foreach (var n in Model.Category)
                        {
                            <option>@n.Category</option>
                        }
                    </select>*@
                @*</div>*@
            </div>
            @Html.Label("Photo Description: ", new { @for = "exampleInputFile" })
            <div class="mb-20 mb-md-10">
                <!-- Description -->
                @Html.TextBoxFor(m => m.ImageMime, new { @name = "ImageMime", @id = "ImageMime", @class = "input-md form-control", @placeholder = "Photo Description" })
            </div>

            @Html.Label("Load Photo: ")
            <div class="mb-20 mb-md-10">
                @Html.TextBoxFor(m => m.ImageData, new { @type = "file", id = "ImageData", @value = "Save" })
                <p class="help-block">
                    Choose photo
                </p>
            </div>
            <div class="clearfix">
                <div class="cf-left-col">
                    <!-- Inform Tip -->
                    <div class="form-tip pt-20">
                        <i class="fa fa-info-circle"></i> All the fields are required
                    </div>
                </div>
                <div class="cf-right-col">
                    <!-- Send Button -->
                    <div class="align-right pt-10">
                        <button type="submit" class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn">Edit Post</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>